page-profile {
  #file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999;
  }
  #responsive-image {
    width: 100% !important;
    height: auto !important;
    border: 1px solid rgb(27, 6, 6); /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px 5px 5px 5px;
  }

}
