<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Setting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <div *ngIf="photos.length > 0">
    <ion-slides loop="true" pager="true">
      <ion-slide *ngFor="let photo of photos">
        <ion-card class="adv-map">
          <div style="position: relative">
            <img [src]="photo.data" />
            <ion-fab left bottom>
              <button ion-fab color="danger" class="fab-map" (click)="removePhoto(photo.uid)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-fab>
            <ion-fab right bottom>
              <div>
                <button ion-fab color="primary" class="fab-map" (click)="takePhoto()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </div>
              <!--
              <div *ngIf="!isCordova">
                <label>{{label}}</label>
                <input type="file" (change)="takePhoto($event)" id="file-input" style="opacity: 0" #fileInp1>
                <button ion-fab color="primary" class="fab-map" (click)="onClick()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </div>
              -->
            </ion-fab>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="photos.length === 0">
    <ion-card class="adv-map">
      <div style="position: relative">
        <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg">
        <ion-fab center middle>
          <div>
            <button ion-fab color="danger" class="fab-map" (click)="takePhoto()">
              <ion-icon name="add"></ion-icon>
            </button>
          </div>
          <!--
          <div *ngIf="!isCordova">
            <label>{{label}}</label>
            <input type="file" (change)="takePhoto($event)" id="file-input" style="opacity: 0" #fileInp1>
            <button ion-fab color="danger" class="fab-map" (click)="onClick()">
              <ion-icon name="add"></ion-icon>
            </button>
          </div>
          -->
        </ion-fab>
      </div>
    </ion-card>
  </div>

  <ion-card>
    <ion-item>
      <ion-icon name="cart" item-end></ion-icon>
      <ion-label color="primary" stacked>Display Name</ion-label>
      <ion-input placeholder="Change Display Name" [(ngModel)]="name" disabled></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="cart" item-end></ion-icon>
      <ion-label color="primary" stacked>Gender</ion-label>
      <ion-input placeholder="Change Display Name" [(ngModel)]="gender" disabled></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="paw" item-start></ion-icon>
        <ion-label color="primary" stacked>Gender</ion-label>
        <ion-select placeholder="Change Display Name" (ionChange)="setUserData($event,'gender')">
          <ion-option value="Male">Male</ion-option>
          <ion-option value="Female">Female</ion-option>
          <ion-option value="Other">Other</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        <ion-label color="primary" stacked>Date of Birth</ion-label>
        <ion-datetime placeholder="Change Display Name" #changeTime displayFormat="MMM DD YYYY" [(ngModel)]="changeDate" (ionChange)="handleChangeDate(changeDate)">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        <ion-label color="primary" stacked>Interest In</ion-label>
        <ion-select placeholder="Change Display Name" (ionChange)="setSettingData($event,'interest_in')">
          <ion-option value="Male">Male</ion-option>
          <ion-option value="Female">Female</ion-option>
          <ion-option value="Other">Other</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        <ion-label color="primary" stacked>Set Range in Year {{ structure | json}}</ion-label>
        <ion-range dualKnobs="true" pin="true" (ionChange)="setSettingAgeRange()" placeholder="Change Display Name" [(ngModel)]="structure"
          color="dark">
          <ion-icon range-left small name="brush"></ion-icon>
          <ion-icon range-right name="brush"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        <ion-label color="primary" stacked>About me</ion-label>
        <ion-textarea placeholder="Enter a description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        <ion-label color="primary" stacked>Phone Number</ion-label>
        <ion-input placeholder="Phone Number" [(ngModel)]="name" (ionChange)="setUserDataName()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input placeholder="Email" [(ngModel)]="name" (ionChange)="setUserDataName()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        <ion-label color="primary" stacked>Education</ion-label>
        <ion-input placeholder="Change Display Name" [(ngModel)]="name" (ionChange)="setUserDataName()"></ion-input>
      </ion-item>

    </ion-list>
  </ion-card>
  <!--
  <ion-card *ngIf="downloadURL | async">
    <img [src]="downloadURL | async" />
    <div class="card-title">Card Title</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>
  <div>{{ uploadPercent | async }}</div>
  <pre><code>{{ (meta | async) | json }}</code></pre>
  -->
</ion-content>

