<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h1>Movies</h1>

  <div *ngFor="let item of items$ | async">
    <p>{{item.uid}}</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let movie of movies | async">
        <h2>{{ movie?.uid }}</h2>
        <p>Released in {{ movie?.name }}</p>
    
        <img [src]="movie?.photoURL" width="520px">
        <img [src]="movie?.photoURL" width="520px">
        <img [src]="movie?.photoURL" width="520px">
        <img [src]="movie?.photoURL" width="520px">
    </ion-item>
  </ion-list>

  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="!finished">
    Loading more movies...
  </div>


  <div *ngIf="finished">
    End of database... That's all folks!
  </div>
</ion-content>

