<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="items$ | async; let items; else loading">
    <ul>
      <li *ngFor="let item of items">
        {{ item.uid }}
        <button ion-button (click)="next(item.uid)">Next</button>
      </li>
    </ul>
    <div *ngIf="items.length === 0">No results, try clearing filters</div>
  </div>
</ion-content>

