page-settings {
  
      #file-input {
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 999;
      }

      #img2{
        width: 100% !important;
       height: auto !important;
       }
   
}
