page-display-user {
  ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 1%;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: black;
  }

  #img2 {
    width: 100% !important;
    height: auto !important;
  }
 
}

