<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{userInfo.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <div *ngIf="photos.length > 0"> 
   <ion-slides pager="true">
    <ion-slide *ngFor="let photo of photos">
      <ion-card>
        <img [src]="photo.data" id="img2"/>
        <div class="card-subtitle">{{userInfo.name}}</div>
      </ion-card>
    </ion-slide>
</ion-slides>
</div>

<div *ngIf="photos.length === 0">
    <ion-card>
        <img [src]="userInfo.photoURL" id="img2" />
    </ion-card>
</div>

<ion-grid>
  <ion-row><ion-col>User Id</ion-col><ion-col>{{userInfo.uid}}</ion-col></ion-row>
  <ion-row><ion-col>Name</ion-col><ion-col>{{userInfo.name}}</ion-col></ion-row>
  <ion-row><ion-col>Address</ion-col><ion-col>{{userInfo.formatted_address}}</ion-col></ion-row>
  <ion-row><ion-col>Last Login Time</ion-col><ion-col>{{userInfo.timestamp}}</ion-col></ion-row>
  <ion-row><ion-col>Email</ion-col><ion-col>{{userInfo.email}}</ion-col></ion-row>
</ion-grid>

<!--
{{userInfo |  json}}
-->

</ion-content>
