<ion-menu [content]="content">
<ion-header>
  <ion-navbar color="primary">
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
   <ion-content>
      <ion-item>
          <ion-avatar item-start>
            <img  *ngIf="(user | async)?.photoURL" [src]="(user | async)?.photoURL">
            <img  *ngIf="!(user | async)?.photoURL" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg">
          </ion-avatar>
          <h2><span *ngIf="(user | async)?.name">{{(user | async)?.name}}</span></h2>
          <p><span *ngIf="(user | async)?.email">{{(user | async)?.email}}</span></p>
          <p><span *ngIf="(user | async)?.uid">{{(user | async)?.uid}}</span></p>
      </ion-item>
    <ion-list>
      <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)">
           <ion-icon item-start [name]="page.icon" [color]="isActive(page)"></ion-icon>
          {{ page.title }}
        </button>
    </ion-list>
    <ion-item>
        <button ion-button (click)="logout()">LOGOUT</button>
    </ion-item>
  </ion-content>
</ion-menu>
<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>